/* 收货地址 */
.order-info{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem  2rem 0 2rem;
}
.order-info>div:nth-child(2n){
    margin:0 1rem;
}
.order-address{
    width: 22%;
    border:1px solid #eee;
    height: 10rem;
    line-height: 12rem;
    text-align: center;   
    background:url(../images/add.png) no-repeat center 3.3rem;
    background-size: 1.7rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
.new-address{
    width: 22%;
    border:1px solid #eee;
    height: 10rem;
    line-height: 10rem;
    cursor: pointer;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.check-address{
    border:1px solid #6c8cd4;
}

.address-box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.new-address .change-address{
    width: 100%;
    height: 2rem;
    margin-top: .9rem;
    position: absolute;
    bottom: -2rem;
}

.new-address:hover .change-address{
    bottom: 0;
    transition: bottom .5s linear;
}
.new-address .change-address>button{
    width: 50%;
    height: 100%;
    line-height: 2rem;
    text-align: center;
    border:none;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
}
.new-address .change-address>button:first-child{
   border-right: 1px solid #eee;
}

.new-address>div{
    height: 2rem;
    line-height: 2rem;
}
.new-address>div:first-child{
    padding-top: 1rem;
}

.order-address:hover{
    background-color: #eee;
}

/* 遮罩 */
.info-cover{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(3, 3, 3, .7);
    display: none;
    z-index: 30;
}

.info-address{
    width: 30rem;
    height: 25rem;
    background-color: white;
    position: fixed !important;
    left: 50%;
    top:50%;
    margin-left: -15rem;
    margin-top: -12.5rem;
    text-align: center;
    border-radius: .2rem;
    position: relative;
    z-index: 30;
    display: none;
}
.info-title{
    padding:1.2rem 0;
    border-bottom: 1px solid #eee;
}
.info-address input[type="text"]:nth-child(1){
    margin-top: 1rem;
}
.info-address input[type="text"],input[type="button"]{
    display: block;
    width: 90%;
    height: 3rem;
    box-sizing: border-box;
    padding-left: 1rem;
    border:1px solid #eee;
    border-radius: .2rem;
    margin: 0 5% 1rem;
}
.info-address .check{
    text-align: left;
    padding-left: 1.6rem;
}
.info-address label{
    display: inline-block;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .3rem;
    border:1px solid #eee;
    vertical-align: middle;
    border-radius: .4rem;
}
.info-address .label_check{
    background: url(../images/gou.png);
}

.info-address input[type="button"]{
    margin-top: 10px;
    color: white;
    background-color: royalblue;
    cursor: pointer;
}

.address-close{
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.address-close:hover{
    transform: rotate(180deg);
    transition:all .5s linear;
}

.cart-nav span:first-child{
    width: 70%;
}

.cart-item{
    display: flex;
}

.cart-item-info{
    width: 70%;
}

.cart-item>div+div{
    width: 10%;
    text-align: center;
    line-height: 110px;
}

.cart-shop{
    justify-content: flex-end;
}

